/*
font-family: 'Alegreya', serif;
font-family: 'Merriweather', serif;
font-family: 'Playfair Display', serif;
*/
:root {
  --primary-font-family: "Playfair Display", serif;
  --secondary-font-family: "Merriweather", serif;
  --different-font-family: "Alegreya", serif;
  --secondary-color-gradient: linear-gradient(to top, #dfe9f3 0%, white 100%);
  --secondary-color: #6c63ff;
}

body {
  color: black;
}

h1,
h2,
h3 {
  font-family: --primary-font-family;
  font-weight: bold;
}

p {
  font-family: var(--secondary-font-family);
  color: #272142;
}

.hero {
  background: var(--secondary-color-gradient);
  text-align: center;
  padding: 160px 20px;
}
.hero h1 {
  font-size: 96px;
}
.hero h2 {
  font-size: 28px;
  line-height: 2;
  opacity: 0.8;
}
.hero p {
  font-size: 36px;
  font-weight: bold;
}
.btn-styling {
  background: var(--secondary-color);
  color: white;
  font-family: var(--different-font-family);
  font-weight: 400;
  font-size: 20px;
  padding: 15px 30px;
  border-radius: 4px;
}
.style-col {
  padding: 20px 0;
}
.style-col p {
  opacity: 0.8;
  line-height: 2;
}
.style-col h2 {
  font-size: 64px;
}
.btn-styling-more {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  font-family: var(--different-font-family);
  font-weight: 400;
  font-size: 20px;
  padding: 15px 30px;
  border-radius: 4px;
}
.styling {
  padding: 70px 20px;
}

.styling-content {
  margin: 30px;
}

.styling h1 {
  font-size: 64px;
  line-height: 1.1;
}

.styling h2 {
  font-size: 18px;
}

.styling p {
  line-height: 1.8;
}

.center-block {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.icon-name {
  font-family: var(--secondary-font-family);
  font-size: 10px;
}

@media (max-width: 991px) {
  .hero h1,
  .styling h1 {
    font-size: 44px;
  }
  .style-col {
    text-align: center;
    padding: 0;
  }
  .style-col h2 {
    font-size: 42px;
  }
  .styling {
    text-align: center;
  }
}
